{% extends "index.html" %}
{% load static %}
{% block js %}
<script>
    function eliminarObservacion(idObservacion) {
        Swal.fire({
            title: "¿Estas seguro?",
            text: "Esta acción no se puede deshacer",
            icon: "question",
            showCancelButton: true,
            cancelButtonText: "No, Cancelar",
            confirmButtonText: "Si, Eliminar",
            reverseButtons: true,
            confirmButtonColor: "#dc3545",
        }).then(function (result) {
            if (result.isConfirmed) {
                window.location.href = "/crud/eliminarObservacion/" + idObservacion + "/";
            }
        });
    }
</script>
{% endblock %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Lista Observacion</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
            crossorigin="anonymous" />
    </head>

    <body>
        {% block contenido %}
        <div class="container py-4">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-5">
                            <h2>Listado de Observacion</h2>
                        </div>
                        <div class="col-4">
                            <!--<form class="d-flex" method="GET">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Buscar" name="buscar"
                                        value="{{ query }}" aria-label="Search">
                                    <button class="btn btn-outline-success" type="submit">Buscar</button>
                                </div>
                            </form>-->
                        </div>
                        <div class="col-3">
                            <a href="{% url 'agregarObservacion' %}" class="btn btn-success">Agregar Observacion</a>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>ID</th>
                                    <th>FALTA</th>
                                    <th>ESTUDIANTE</th>
                                    <th>ADMINISTRATIVO</th>
                                    <th>FECHA</th>
                                    <th>HORA</th>
                                    <th>COMENTARIO</th>
                                    <th>OPCIONES</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if observacion %}
                                {% for observacion in observacion %}
                                <tr>
                                    <td class="">{{ forloop.counter }}</td>
                                    <td class="">{{ observacion.idObservacion }}</td>
                                    <td class="">{{ observacion.idFalta }}</td>
                                    <td class="">{{ observacion.idEstudiante }}</td>
                                    <td class="">{{ observacion.idAdministrativo }}</td>
                                    <td class="">{{ observacion.fecha }}</td>
                                    <td class="">{{ observacion.hora }}</td>
                                    <td class="">{{ observacion.comentario }}</td>
                                    <td>
                                        <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                                            <!-- Botón Modificar -->
                                            <a href="{% url 'modificarObservacion' observacion.idObservacion %}"
                                                class="btn btn-info btn-sm">
                                                Modificar
                                            </a>
                                            <!-- Botón Eliminar -->
                                            <a href="#" onclick="eliminarObservacion({{ observacion.idObservacion }})"
                                                class="btn btn-danger btn-sm">
                                                Eliminar
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                                {% else %}
                                <tr>
                                    <td colspan="6" class="text-center text-danger">⚠ No se encontraron resultados</td>
                                </tr>
                                {% endif %}
                            </tbody>
                        </table>

                        <!--<a
                            href=" url 'crear_pdf'  "
                            class="btn btn-info btn-sm"
                            >Imprimir</a
                        > -->
                    </div>
                </div>
            </div>
        </div>


        {% endblock %}
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
            integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
            integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
            crossorigin="anonymous"></script>
    </body>

</html>
