{% load static %}
<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block tittle %} {% endblock %}</title>
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <!-- Bootstrap Icons -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/stylesHome.css' %}">
        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    </head>

    <body>
        <nav class="navbar bg-body-tertiary px-3 d-flex justify-content-between align-items-center position-relative">
            <!-- Botón sidebar -->
            <button class="btn btn-outline-dark" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebarMenu">
                <i class="bi bi-list"></i>
            </button>

            <!-- Logo centrado -->
            <div class="navbar-center transition-logo">
                <a class="navbar-brand" href="{% url 'home' %}">
                    <img src=" {% static 'img/logoProyecto.png' %}" alt="Logo" width="40" height="24">
                </a>
            </div>

            <div class="d-flex align-items-center gap-3">
                <!-- Buscar -->
                <div class="box transition-box">
                    <input type="text" placeholder="Buscar...">
                    <a href="#">
                        <i class="bi bi-search" style="color: #2f131e;"></i>
                    </a>
                </div>

                <!-- Icono de usuario -->
                <a class="btn btn-outline-dark rounded" href="{% url 'login' %}">
                    <i class="bi bi-person"></i>
                </a>
            </div>
        </nav>

        {% block content %}

        {% endblock %}
    </body>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>


    </body>

</html>
